<html>
<head>
	<!-- 這裡是 HTML 語法的 header 頁首引用宣告區 -->
	<!-- 這裡是 HTML 語法的 header 頁首引用宣告區 -->
	<!-- 這裡是 HTML 語法的 header 頁首引用宣告區 -->
</head>
<body>
	<!-- 這裡是 HTML 語法的 主要資料區 -->
	<html>
		<form action="upload_show" method="POST" enctype="multipart/form-data">
			<label>選擇檔案</label>&nbsp
			<input type="file" id="file" name="file" /><br>
			<button type="submit" class="btn btn-primary">提交</button>
		</form>
	</html>

	<?php
	?>

	<!-- 這裏通常會放 footer 頁尾的資料 -->
	<!-- 這裏通常會放 footer 頁尾的資料 -->
	<!-- 這裏通常會放 footer 頁尾的資料 -->
</body>
</html>